*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    overflow-x: hidden;
}
body{
    background-color: #1f242d;
    color: #fff;
}
section{
    min-height: 100vh;
}

#header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #1f242d;
}
.logo{
    font-size: 25px;
    color: #fff;
    cursor: default;
    text-decoration: none;
    font-weight: bold;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}
.navbar a:hover, .navbar a.home {
    color: #0ef;
}


#menu-icon {
    font-size: 45px;
    padding: 0;
    color: #fff;
    display: none;
}

#first{
    padding: 30px;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tsri h3{
    font-size: 35px;
}
span{
    color: #0ef;
}
.tsri h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.tsri p{
    font-size: 16px;
    line-height: 25px;
    margin: 15px 0;
}
#first img{
    width: 400px;
    padding-bottom: 40px;
    animation: swingImage 4s ease-in-out infinite;
}
@keyframes swingImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}

.socials a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid #0ef;
    font-size: 20px;
    border-radius: 17px;
    color: #0ef;
    text-decoration: none;
    margin-right: 10px;
    transition: 0.5s;
}
.socials{
    margin: 20px 0;
    margin-bottom: 30px;
}
.socials a:hover{
    color: #1f242d;
    background-color: #0ef;
    box-shadow: 0px 0px 10px #0ef;
}

.ccvv{
    text-decoration: none;
    padding: 10px 20px;
    color: #1f242d;
    background-color: #0ef;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0ef;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
}
.ccvv:hover{
    box-shadow: none;
}

#about{
    padding: 30px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323946;
    gap: 30px;
}
#about h2{
    font-size: 40px;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
}
#about h3{
    font-size: 30px;
}
#about p{
    font-size: 16px;
    line-height: 22px;
    margin: 15px 0px;
    margin-bottom: 30px;
    margin-right: 25px;
}
#about img{
    width: 400px;
}


#services{
    padding: 30px;
    padding-top: 70px;
}
#services h2{
    font-size: 40px;
    margin: 30px 0;
    margin-bottom: 70px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cbox{
    padding: 20px 10px;
    padding-bottom: 40px;
    background-color: #323946;
    border: 2px solid #1f242d;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s ease;
}
.cbox:hover{
    border-color: #0ef;
    transform: scale(1.02);
}
.cbox i{
    font-size: 50px;
    color: #0ef;
}
.cbox h3{
    font-size: 30px;
    margin: 20px 0;
}
.cbox p{
    font-size: 15px;
    margin: 20px 0;
    margin-bottom: 30px;
}


#portfolio{
    background-color: #323946;
    padding: 30px;
    padding-top: 70px;
}
#portfolio h2{
    font-size: 40px;
    margin: 30px 0;
    margin-bottom: 70px;
    text-align: center;
}
.pbox{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 30px;
}
.forth{
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #1f242d;
}
.fifth{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(100%);
}
.forth:hover .fifth{
    transform: translateY(0);
}
.fifth h4{
    font-size: 30px;
}
.fifth p{
    font-size: 15px;
    margin: 10px 0;
}
.fifth a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 17px;
    background-color: #fff;
}
.fifth a i{
    font-size: 19px;
    color: #323946;
}

.forth img{
    width: 100%;
    transition: 0.5s ease;
}
.forth:hover img{
    transform: scale(1.1);
}

#contact{
    padding: 30px;
    padding-top: 60px;
}
#contact h2{
    text-align: center;
    font-size: 40px;
    margin: 30px 0;
    margin-bottom: 50px;
}
#contact form{
    margin: 20px auto;
    width: 80%;
}

#contact form .ibox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#contact input, #contact textarea{
    width: 100%;
    font-size: 19px;
    padding: 15px;
    color: #fff;
    background-color: #323946;
    border-radius: 10px;
    margin: 10px 0;
}

#contact input{
    width: 49%;
}

#contact .ccvv{
    width: initial;
    text-decoration: none;
    padding: 15px 20px;
    color: #1f242d;
    background-color: #0ef;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0ef;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
    margin: 20px auto;
    cursor: pointer;
}
#contact .ccvv:hover{
    box-shadow: none;
}
#contact textarea{
    resize: none;
}

#fiverr{
    padding: 30px;
    padding-top: 60px;
    text-align: center;
}
#fiverr h2{
    text-align: center;
    font-size: 40px;
    margin: 30px 0;
    margin-bottom: 50px;
}



#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323946;
    padding: 20px 40px;
}

#footer .text{
    font-size: 15px;
}
#footer .arrow a{
    font-size: 30px;
    color: #323946;
    display: inline-block;
    padding: 10px;
    background-color: #0ef;
    border-radius: 10px;
    transition: 0.5s ease;
}
#footer .arrow a:hover{
    box-shadow: 0 0 10px #0ef;
}


@media screen and (max-width: 600px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        border: 1px solid #fff;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px 20px;
        background-color: #1f242d;
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        margin: 40px 0;
    }
    #first{
        display: block;
        
    }
    .tsri h3{
        font-size: 25px;
    }
    .tsri h1{
        font-size: 30px;
    }
    .tsri p{
        font-size: 14px;
    }
    #first img{
        width: 380px;
    }


    #about{
        flex-direction: column-reverse;
    }
    #about h2{
        font-size: 35px;
    }
    #about h3{
        font-size: 25px;
    }
    #about p{
        font-size: 14px;
    }
    #about img{
        width: 380px;
    }


    #services h2{
        font-size: 35px;
    }
    .container{
        flex-direction: column;
    }
    .cbox h3{
        font-size: 25px;
    }
    .cbox p{
        font-size: 14px;
    }
    .cbox i{
        font-size: 45px;
    }


    #portfolio h2{
        font-size: 35px;
    }
    .fifth h4{
        font-size: 25px;
    }
    .fifth p{
        font-size: 14px;
    }
    .pbox{
        display: flex;
        flex-direction: column;
    }

    #contact input{
        width: 100%;
    }
    #contact h2{
        font-size: 35px;
    }


    #footer .text{
        font-size: 14px;
    }
    #footer .arrow{
        padding: 7px;
    }


}

@media screen and (max-width: 912px) and (min-width: 601px){
    #menu-icon{
        display: block;
    }
    .navbar{
        border: 1px solid #fff;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px 20px;
        background-color: #1f242d;
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        margin: 40px 0;
    }
    #first{
        display: block;
        
    }

    #about{
        flex-direction: column-reverse;
    }
    .container{
        flex-direction: column;
    }
    .pbox{
        display: flex;
        flex-direction: column;
    }
}